<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Project Showcase</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
    
  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">
  
  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">
  
  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link href="favicon.ico" rel="shortcut icon">
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet"> 
  
  <!-- Bootstrap CSS File -->
  <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Libraries CSS Files -->
  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate-css/animate.min.css" rel="stylesheet">
  
  <!-- Main Stylesheet File -->
  <link href="../css/style.css" rel="stylesheet">
  
<!-- =======================================================
  Theme Name: Imperial
  Theme URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
  Author: BootstrapMade.com
  Author URL: https://bootstrapmade.com
======================================================= -->
</head>
<body>

<!--==========================
  Header Section
============================-->
  <header id="header">
    <div class="container">
    
     
        <div id="login-form" class="pull-left">
            <form>
                <input type="email" value="E-mail">
                <input type="password" placeholder="Password">
                <input type="submit" value="Login">
            </form>
         <!--
            <a href="#hero"><img src="img/logo.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Header 1</a></h1>
          -->
      </div>
    
        
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li ><a href="#hero">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Featured Projects</a></li>
         <!--<li><a href="#team">Team</a></li>-->
          <li><a href="#contact">Contact Us</a></li>
          <li class="menu-active"><a >Sign Up</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
    
    
<!-- ========================
    Signup Form
============================-->

  <section id="signup">
     
      <div class="container">
        
            <div class="form-box">
                <div class="toggle">
                    <button class="btn active">For Students</button>
                    <button class="btn ">For Recruiters</button>
                </div>        
                
                <form>
                    <div class="row">
                        <div class="col-sm-6 form-input fname">
                           <input class="fname" type="text" name="fname" placeholder = "First Name">
                        </div>
                         <div class="col-sm-6 form-input">
                            <input class="name" type="text" name="lname" placeholder="Last Name">
                        </div>
                    
                
                        <div class="form-input">
                            <input type="email" name="email" placeholder="Email">                 
                        </div>
                        
                        <div class="form-input">
                            <input type="password" name="password" placeholder="Password">            
                        </div>
                        
                        <div class="form-input">
                            <input type="password" name="passwordverify" placeholder="Retype Password">            
                        </div>
                        
                        
                        <div class="form-input">
                            <input type="text" name="school" placeholder="University">           
                        </div>
                        
                        <div class="form-input">
                            <input type="text" name="standing" placeholder="Class Standing">     
                        </div>
                        
                        
                        <div class="form-input">
                            <input type="text" name="major" placeholder="Major">     
                        </div>
                        
                        
                        
                        
                    
                    
                    
                    
                    
                    </div>
                    






                </form>





             </div>


          
    </div>
    
    
    
    
    </section>
 
    
    
    
    
    
      
<!--==========================
  Footer
============================--> 
  <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright">
              &copy; Copyright <strong>Imperial Theme</strong>. All Rights Reserved
            </div>
            <div class="credits">
              <!-- 
                All the links in the footer should remain intact. 
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial
              -->
              Bootstrap Themes by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
          </div>
        </div>
      </div>
  </footer><!-- #footer -->
    
    
<!-- Required JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/morphext/morphext.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/stickyjs/sticky.js"></script>
  <script src="lib/easing/easing.js"></script>
  
  <!-- Template Specisifc Custom Javascript File -->
  <script src="js/custom.js"></script>
  
  
    
    
    
</body>
</html>